AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=lakehouse

NESSIE_URI=http://nessie:19120/api/v1
NESSIE_REF=main

DUCKDB_DATABASE=/opt/airflow/data/duckdb/lakehouse.duckdb
DBT_PROJECT_DIR=/opt/airflow/dbt
DBT_PROFILES_DIR=/opt/airflow/dbt
